@import "../colors/colors";

.confirmation-container {
  width: 960px;
  height: 80vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid $color-primary;
  border-radius: 40px;
  background-color: $color-bg;

  .back {
    justify-self: flex-end;
    align-self: flex-start;
    margin-top: 10px;
  }
}

.confirmation-title {
  margin-top: 50px;
  font-size: 30px;
}

.confirmation-text {
  margin-top: 50px;
  font-size: 18px;
}

.confirmation-nr {
  font-size: 20px;
  font-weight: bolder;
}

.confirmation-info {
  margin-top: 50px;
  font-size: 18px;
}