@import "../colors/colors";

.plan-container {
  width: 1380px;
  height: 90vh;
  border: 2px solid $color-primary;
  margin-top: 40px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-header {
  width: 100%;
  border-bottom: 2px solid $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $color-secondary;

  & .calendar {
    background-color: #fff;
  }
}

.plan-calendar {
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.plan-title {
  margin-top: 20px;
}

.plan-place {
  background-color: #3ac569;
  margin-top: 20px;
  width: 235px;
  height: 110px;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.plan-place-occupied {
  background-color: #f94e3f;
  width: 235px;
  height: 110px;
  text-align: center;
  cursor: not-allowed;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.plan-main-container {
  background-color: $color-bg;
  border-radius: 40px;
  margin-top: 40px;
  width: 1360px;
  height: 550px;
  display: grid;
  grid-template-columns: 40px 240px 240px 40px 240px 240px 40px 240px 40px;
  grid-template-rows: 120px 120px 120px 120px;
  grid-template-areas:
      ". c1 b5 . b1 a5 . a1 ."
      ". c2 b6 . b2 a6 . a2 ."
      ". c3 b7 . b3 a7 . a3 ."
      ". c4 b8 . b4 a8 . a4 .";

  :nth-child(1) {
    grid-area: a1;
  }

  :nth-child(2) {
    grid-area: a2;
  }

  :nth-child(3) {
    grid-area: a3;
  }

  :nth-child(4) {
    grid-area: a4;
  }

  :nth-child(5) {
    grid-area: a5;
  }

  :nth-child(6) {
    grid-area: a6;
  }

  :nth-child(7) {
    grid-area: a7;
  }

  :nth-child(8) {
    grid-area: a8;
  }

  :nth-child(9) {
    grid-area: b1;
  }

  :nth-child(10) {
    grid-area: b2;
  }

  :nth-child(11) {
    grid-area: b3;
  }

  :nth-child(12) {
    grid-area: b4;
  }

  :nth-child(13) {
    grid-area: b5;
  }

  :nth-child(14) {
    grid-area: b6;
  }

  :nth-child(15) {
    grid-area: b7;
  }

  :nth-child(16) {
    grid-area: b8;
  }

  :nth-child(17) {
    grid-area: c1;
  }

  :nth-child(18) {
    grid-area: c2;
  }

  :nth-child(19) {
    grid-area: c3;
  }

  :nth-child(20) {
    grid-area: c4;
  }
}


